langchain
openai
sqlalchemy
pandas
fastapi
uvicorn
python-dotenv
langchain_community
streamlit
MarkupSafe
Werkzeug
blinker
click
flask
itsdangerous
flask-cors
python-dotenv
langchain-openai
mysql-connector-python